.navbar {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #cccccc;
}

#nav-right {
    padding-left: 6rem;
}

.notice {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.game-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    gap: 1rem;
}

.game {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: fit-content;
    background: var(--pico-background-color);
    border: 0.1rem solid var(--pico-color);
    padding: 1rem;
    border-radius: 1rem;

}

.game-title {
    text-align: center;
    margin-bottom: 1rem;
    background: var(--pico-background-color);
    border: 0.1rem solid var(--pico-color);
    padding: 0.05rem;
}

.game img {
    border-radius: 2rem;
    margin: auto;
    box-shadow: var(--pico-box-shadow);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.game img:hover {
    transform: scale(1.05);
}

.value {
    width: 5rem;
    height: 4rem;
    padding-top: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    background: var(--pico-background-color);
    border: 0.1rem solid var(--pico-color);
    cursor: default;
    text-align: center;
}

.value span {
    font-size: 1.33rem;
}

.date {
    margin: 1rem 0rem 0rem 1rem;
}

.date p {
    background: var(--pico-background-color);
    border: 0.1rem solid var(--pico-color);
    padding: 0.5rem;
}

