<!doctype html>
<html lang="en">

<head>
    <!-- Settings -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}My Flask App{% endblock %}</title>

    <!-- Style -->
    <link rel="stylesheet" href="/static/css/pico.blue.min.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>


<body>
    <header class="sticky-nav">
        <!-- Navigation -->
        <nav class="navbar container grid">
            <!-- Logo -->
            <ul class="nav-left">
                <li>
                    <a href="/home" style="text-decoration: none;" class="contrast">
                        <h1>Games Review Hub</h1>
                    </a>
                </li>

            </ul>
            <!-- Search Bar -->
            <ul id="nav-middle">
                <li>
                    <form action="/search" method="post" role="search" id="search-bar">
                        <input type="search" name="search_term" placeholder="Search...">
                        <button type="submit" class="material-symbols-outlined">arrow_forward</button>
                    </form>
                </li>
            </ul>
            <!-- Account -->
            <ul class="nav-right">
                <li>
                    <details class="dropdown">
                        <summary class="material-symbols-outlined">account_circle</summary>
                        <ul>
                            <li>{{user.username}}</li>
                            {% if not user.user_id is number %}
                            <li><a href="/login">Login <span class="material-symbols-outlined">login</span></a></li>
                            {% else %}
                            <li><a href="/logout">Logout <span class="material-symbols-outlined">logout</span></a></li>
                            {% endif %}
                        </ul>
                    </details>
                </li>
                <!-- Light Mode / Dark Mode toggle -->
                <li>
                    <button id="theme-toggle" type="button" class="material-symbols-outlined">light_mode</button>
                </li>
            </ul>

        </nav>

    </header>
    <main class="container">
        <!-- Flash Messages -->
        <div class="container">
            <details {% if get_flashed_messages() %}open{% endif %}>
                <summary>Notices</summary>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="container">
                    {% for message in messages %}
                    <article class="notice">{{ message }}</article>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </details>
        </div>

        <!-- Main Pages Content -->
        {% block content %}
        {% endblock %}
    </main>
</body>

<script>
    const themeToggle = document.getElementById("theme-toggle");
    const html = document.documentElement;

    // Load saved theme.
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
        html.setAttribute("data-theme", savedTheme);
    }

    // set button icon on load.
    const currentTheme = html.getAttribute("data-theme") || "light";
    themeToggle.textContent = currentTheme === "dark" ? "dark_mode" : "light_mode";

    // theme swap function.
    themeToggle.addEventListener("click", () => {
        const newTheme = html.getAttribute("data-theme") === "dark" ? "light" : "dark";
        html.setAttribute("data-theme", newTheme);
        themeToggle.textContent = newTheme === "dark" ? "dark_mode" : "light_mode";
        localStorage.setItem("theme", newTheme);
    });
</script>

</html>