<!doctype html>
<html lang="en">

<head>
    <!-- Meta Settings -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}My Flask App{% endblock %}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/css/pico.blue.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
    <header class="sticky-nav">
        <nav class="navbar container grid">
            <!-- Logo -->
            <ul class="nav-left">
                <li>
                    <a href="/home" class="contrast" style="text-decoration: none;">
                        <h1>Games Review Hub</h1>
                    </a>
                </li>
            </ul>

            <!-- Search Bar -->
            <ul id="nav-middle">
                <li>
                    <form action="/search" method="get" role="search" id="search-bar">
                        <input type="search" name="search_term" placeholder="Search..." />
                        <button type="submit" class="material-symbols-outlined">arrow_forward</button>
                    </form>
                </li>
            </ul>

            <!-- Account & Theme -->
            <ul class="nav-right">
                <li>
                    <details class="dropdown">
                        <summary class="material-symbols-outlined">account_circle</summary>
                        <ul>
                            <li>{{ user.username }}</li>
                            {% if not user.user_id %}
                            <li><a href="/login">Login <span class="material-symbols-outlined">login</span></a></li>
                            {% else %}
                            <li><a href="/logout">Logout <span class="material-symbols-outlined">logout</span></a></li>
                            {% endif %}
                        </ul>
                    </details>
                </li>
                <li>
                    <button id="theme-toggle" type="button" class="material-symbols-outlined">light_mode</button>
                </li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container">
            <details open>
                <summary>Notices</summary>
                <div class="container">
                    {% for message in messages %}
                    <article class="notice">{{ message }}</article>
                    {% endfor %}
                </div>
            </details>
        </div>
        {% endif %}
        {% endwith %}

        <!-- Page Content -->
        {% block content %}{% endblock %}
    </main>

    <script>
        // Get theme elements and current settings.
        const themeToggle = document.getElementById("theme-toggle");
        const html = document.documentElement;
        const savedTheme = localStorage.getItem("theme") || "light";

        // Update theme to saved theme.
        html.setAttribute("data-theme", savedTheme);
        themeToggle.textContent = savedTheme === "dark" ? "dark_mode" : "light_mode";

        // Swap theme on theme toggle press.
        themeToggle.addEventListener("click", () => {
            const newTheme = html.getAttribute("data-theme") === "dark" ? "light" : "dark";
            html.setAttribute("data-theme", newTheme);
            themeToggle.textContent = newTheme === "dark" ? "dark_mode" : "light_mode";
            localStorage.setItem("theme", newTheme);
        });
    </script>
</body>

</html>
