{% extends "base.html" %}

{% block title %}{{game.title}} - Games Review Hub{% endblock %}

{% block content %}
<article class="main-game-container grid">
    <!-- Image -->
    <div>
        <img src="{{game.image_link}}" alt="{{game.title}} cover image.">
    </div>

    <div>

        <!-- Title -->
        <h1 style="text-align: center;">{{game.title}}</h1>
        <!-- Rating -->
        <div class="container-fluid rating-container">
            <span>1</span>
            <progress value="8" max="10" id="rating"></progress>
            <span>10</span>
        </div>
        <!-- Platforms and Accessibility -->
        <div class="grid">
            <div class="platforms">
                {% for platform in platforms %}
                <span class="platform">{{platform.name}}</span>
                {% endfor %}
            </div>
            <div class="accessibility container">
                <span class="material-symbols-outlined">subtitles</span>
                <input type="checkbox" name="subtitles" disabled>
                <span class="material-symbols-outlined">visibility</span>
                <input type="checkbox" name="colourblind_options" disabled checked>
                <span class="material-symbols-outlined">swords</span>
                <input type="checkbox" name="difficulty_options" disabled>
            </div>
        </div>
        <!-- Description -->
        <div class="description">
            <details open>
                <summary>Description</summary>
                <p>{{game.description}}</p>
            </details>
        </div>
    </div>
</article>

<!-- Write Your Own Review -->
<div class="container user-review">


    <form action="/write_review" method="post" aria-label="Write Review">
        <div class="user-review-top">
            <!-- If user is logged in, display text as normal. Otherwise Replace with red warning message.-->
            {% if user.user_id is not defined or user.user_id is none %}
            <h4 style="color: var(--negative-color);"> Login In To Write A Review! </h4>
            {% else %}
            <h4> Your Review </h4>
            {% endif %}
            <!-- Accessibility Options -->
            <fieldset class="form-group user-accessibility" 
                {% if user.user_id is not defined or user.user_id is none %} disabled {% endif %}>
                <label for="has_subtitles" class="material-symbols-outlined">subtitles</label>
                <input type="checkbox" name="has_subtitles" id="user-subtitles">
                <label for="has_colourblind_support" class="material-symbols-outlined">visibility</label>
                <input type="checkbox" name="has_colourblind_support" id="user-colourblind">
                <label for="has_difficulty_options" class="material-symbols-outlined">swords</label>
                <input type="checkbox" name="has_difficulty_options" id="user-difficulty-options">
            </fieldset>

        </div>
        <div class="form-group user-rating-container">
            <!-- Ratings Slider -->
            <span>0</span>
            <input type="range" name="rating" id="user-rating" min="0" max="10" value="0"
                {% if user.user_id is not defined or user.user_id is none %} disabled {% endif %}
                >
            <span>10</span>
        </div>
        <div class="form-group">
            <!-- Place to write Text for Review -->
            <textarea name="review_text" id="review_text" cols="30" rows="5"
                placeholder="Write Your Review Here!"
                {% if user.user_id is not defined or user.user_id is none %} disabled {% endif %}>
            </textarea>
        </div>

        <div class="user-review-bottom">
            <div class="form-group">
                <fieldset aria-label="Platforms" {% if user.user_id is not defined or user.user_id is none %} disabled {% endif %}>
                    <legend>Platform</legend>
                    {% for platform in platforms %}
                    <li>
                        <input type="radio" name="user_platform" id="user-platform-{{platform.name}}">
                        <label for="user-platform-{{platform.name}}">{{platform.name}}</label>
                    </li>
                    {% endfor %}
                </fieldset>
            </div>
            <div class="form-group user-review-post-button">
                <!-- Post Review -->
                <button type="submit" {% if user.user_id is not defined or user.user_id is none %} disabled {% endif %}>Post</button>
            </div>
        </div>

        <input type="hidden" name="source_url" value="{{ request.url }}">

    </form>


</div>

<!-- Review Filters -->
<div class="review-filter container grid">

    <button class="material-symbols-outlined" id="positive-reviews">thumb_up</button>
    <button class="material-symbols-outlined" id="mixed-reviews">~</button>
    <button class="material-symbols-outlined" id="negative-reviews">thumb_down</button>
</div>
<div class="reviews grid">
    <!-- Other Peoples Reviews -->

    {% for review in reviews %}

    <div class="review">
        <h3 class="review-username">{{review.user.username}}</h3>

        {{review.review_text}}
    </div>

    {% endfor %}
</div>


{% endblock %}