<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    Welocme {{user.username}}! <br>
    user_id: {{user.user_id}} <br>
    password_hash: {{user.password_hash}} <br>
    date_joined: {{user.date_joined}} <br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

    <h2>Link Game</h2>
        <form action="/link_tag", method="post">
            <label for="game_name">game_name</label>
            <input type="text" name="game_name">
            <label for="tag_name">tag_name</label>
            <input type="tag_name" name="tag_name">
            <button type="submit">Link</button>
        </form>

</body>
</html>