{% extends "base.html" %}

{% block title %}Home - Games Review Hub{% endblock %}

{% block content %}
<h1>Home</h1>
<div class="grid" style="grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); gap: 1rem;">
  <div class="game">
    <div>
      <div class="game-title"><strong>Super Mario Odyssey</strong></div>
      <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1mxf.webp" alt="game">
    </div> 
    <div>
      <div class="value">10<span class="material-symbols-outlined">star</span></div>
      <div class="value"><span class="material-symbols-outlined">subtitles</span></div>
      <div class="value"><span class="material-symbols-outlined">visibility</span></div>
      <div class="value"><span class="material-symbols-outlined">swords</span></div>
    </div>
    <div class="date">
      <p>17 July 2087</p>
    </div>
  </div>
    <div class="game">
    <div>
      <div class="game-title"><strong>Super Mario Odyssey</strong></div>
      <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1mxf.webp" alt="game">
    </div> 
    <div>
      <div class="value">10<span class="material-symbols-outlined">star</span></div>
      <div class="value"><span class="material-symbols-outlined">subtitles</span></div>
      <div class="value"><span class="material-symbols-outlined">visibility</span></div>
      <div class="value"><span class="material-symbols-outlined">swords</span></div>
    </div>
    <div class="date">
      <p>17 July 2087</p>
    </div>
  </div>
    <div class="game">
    <div>
      <div class="game-title"><strong>Super Mario Odyssey</strong></div>
      <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1mxf.webp" alt="game">
    </div> 
    <div>
      <div class="value">10<span class="material-symbols-outlined">star</span></div>
      <div class="value"><span class="material-symbols-outlined">subtitles</span></div>
      <div class="value"><span class="material-symbols-outlined">visibility</span></div>
      <div class="value"><span class="material-symbols-outlined">swords</span></div>
    </div>
    <div class="date">
      <p>17 July 2087</p>
    </div>
  </div>
  


</div>
{% endblock %}