{% extends "base.html" %}

{% block title %}Register - Games Review Hub{% endblock %}

{% block content %}
  <article>
    <div class="container">
      <h1 style="text-align: center;">Register</h1>
      <form action="/register" method="post">
          <input type="text" name="username" id="username" placeholder="JohnDoe">
          <input type="password" name="password" id="password" placeholder="John@1967">
          <p>Already Have an Account? <a href="/login">Login</a></p>
          <button class="material-symbols-outlined" type="submit">input</button>
      </form>
    </div>
  </article>
  
{% endblock %}