{% extends "base.html" %}

{% block title %}Search "{{search}}" - Games Review Hub{% endblock %}

{% block content %}

<section>
    <!-- Title -->
    <h1>Showing results for "{{search}}".</h1>

    <!-- Game Tag / Platform Filters -->
    <details name="filters" {%if filters%} open {% endif %}>
        <summary>filters</summary>
        <form action="/search" method="get">
            <div class="container grid game-tag-container">
                {% for game_tag in game_tags %}
                <div class="game_tag">
                    <label for="{{game_tag.name}}">{{game_tag.name}}</label>
                    <input type="checkbox" name="{{game_tag.name}}" id="{{game_tag.name}}_tag" {% if filters is defined
                        and game_tag.name in filters %} checked {% endif %}>
                </div>
                {% endfor %}

                <input type="hidden" name="search_term" value="{{search}}">
            </div>

            <button type="submit">Apply Filters</button>
        </form>
    </details>

</section>
<!-- Games -->
<div class="grid game-container">
    {% for game in games %}
    <!-- Game Template -->
    <div class="game" id="game-{{game.game_id}}">   
        <div>
            <!-- Title -->
            <div class="game-title"><strong>{{game.title}}</strong></div>
            <!-- Image -->
            <a href="{{url_for('game_page', game_id=game.game_id)}}"><img src="{{ game.image_link }}" alt="game"></a>
        </div>
        <div>
            <!-- Rating -->
            <div class="value
            {% if not game.rating is number %} no-rating {% elif game.rating < 4 %} negative-rating {% elif game.rating < 7 %} mixed-rating {% else %} positive-rating {% endif %}
            ">{{game.rating}}</div>
            <!-- Accessibility -->
            <div class="value"
                style="background: linear-gradient(to right, var(--positive-color) {{game.has_subtitles}}%, var(--negative-color) {{game.has_subtitles}}%)" "><span class="
                material-symbols-outlined">subtitles</span></div>
            <div class="value"
                style="background: linear-gradient(to right, var(--positive-color) {{game.has_colourblind_support}}%, var(--negative-color) {{game.has_colourblind_support}}%)">
                <span class="material-symbols-outlined">visibility</span></div>
            <div class="value"
                style="background: linear-gradient(to right, var(--positive-color) {{game.has_difficulty_options}}%, var(--negative-color) {{game.has_difficulty_options}}%)">
                <span class="material-symbols-outlined">swords</span></div>
            <!-- Inline styling used so that data from reviews can be passed into gradient percents. style.css is static. -->
        </div>

        <!-- Release Date -->
        <div class="date">
            <p>{{game.date_str}}</p>
        </div>

        <div class="value review-counter">{{game.review_count}} reviews</div>
    </div>
    {% endfor %}
</div>

{% endblock%}