{% extends "base.html" %}

{% block title %}Search "{{search}}" - Games Review Hub{% endblock %}

{% block content %}


<section>
    <h1>Showing results for "{{search}}".</h1>
    <button class="material-symbols-outlined" id="filter-button" onclick="toggle_filters()">filter_list</button>
    <article id="filter-container">
        <main></main>
        
        <footer>
            <form action="/set_filters" method="post">
                <button type="submit" class="secondary">Apply Filters</button>
            </form>
        </footer>

    </article>

</section>
<div class="grid game-container">
    {% for game in games %}
    <div class="game">
        <div>
            <div class="game-title"><strong>{{game.title}}</strong></div>
            <img src="{{ game.image_link }}" alt="game">
        </div>
        <div>
            <div class="value">10<span class="material-symbols-outlined">star</span></div>
            <div class="value"><span class="material-symbols-outlined">subtitles</span></div>
            <div class="value"><span class="material-symbols-outlined">visibility</span></div>
            <div class="value"><span class="material-symbols-outlined">swords</span></div>
        </div>
        <div class="date">
            <p>{{game.date_str}}</p>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    const filterButton = document.getElementById("filter-button");
    const filterContainer = document.getElementById("filter-container");

    function toggle_filters() {
        filterContainer.style.display = filterContainer.style.display === "none" ? "block" : "none"

    }

</script>
{% endblock%}